h1 {
    text-align: center;
}

.links {
    text-align: right;
}

.paragraph {
    text-align: justify;
    margin: 10px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.column {
    flex: 1;
    min-width: 300px;
}

.link:hover {
    background-color:cornflowerblue;
}

table {
    border-collapse: collapse;
    border: solid black 1px
}

th {
    background-color: black;
    color: white;

}

.images {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.image {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
}

input[type="text"] {
    background-color:cornflowerblue
}

button {
    background-color: rgb(89, 216, 110);
}

ol {
    list-style: upper-alpha;
    border: solid black 1px;
}

li {
    font-weight: bold;
}